DNS configuration violating RFC 2181

wanting to look at https://mermaid.js.org/ my browser tails to show that page with "Hmm. We’re having trouble finding that site.".
At a lower level the problem manifests itself  as:

```
$ getent hosts mermaid.js.org
$ echo $?
2
```

where 2 means "One or more supplied key could not be found in the database.".

https://dnsviz.net/d/mermaid.js.org/dnssec/ shows several warnings. I think the relevant that makes resolution fail for me is

    mermaid.js.org/CNAME: The server returned CNAME for mermaid.js.org, but records of other types exist at that name. See RFC 2181, Sec. 10.1.

Having a CNAME and other RRs at the same name is an invalid configuration that results in different breakages for different resolvers.
See [RFC 2181, Sec. 10.1](https://datatracker.ietf.org/doc/html/rfc2181#section-10.1)

OH, this is not an issue of js.org, it's the nameserver of mermaid.js.org (i.e. dns[1234].p04.nsone.net) that is misconfigured.